<mat-toolbar color="primary">
    <span><img src="/assets/images/logoBlanco.png"></span>
    <span class="titleText">e-Commerce Gapsi</span>

</mat-toolbar>
<div class="container">
    <div class="row1"><img src="/assets/images/logoGapsi.png" class="center"></div>
    <div class="row2">
        <h1 class="center">Bienvenido {{candidate.name}}</h1>
    </div>
    <div class="row3">
        <a href="#/providersList"><button mat-raised-button class="center" color="primary">Continuar</button></a>
    </div>
</div>


<mat-toolbar class="footer" color="primary">

    <span><a href="http://www.grupoasesores.com.mx/index.html" target="_blank">Gapsi</a></span>
    <span class="footer-spacer"></span>
    <span> &copy; 2023 Grupo de Asesores Profesionales en Servicios de Integración</span>
    <span class="footer-spacer"></span>
    <span>Version {{version.version}}</span>


</mat-toolbar>